# Contributors to California Civic Data Coalition repositories

By Ben Welsh

This analysis drawn from the open-source list of contributors compiled by GitHub. It was last harvested on Dec. 18, 2016, [using a Python script that interacts with GitHub's API](https://github.com/california-civic-data-coalition/django-calaccess-raw-data/blob/master/example/network-analysis/contributors.csv).

In [1]:
import pandas as pd
import numpy as np

## Load in the data

In [2]:
table = pd.read_csv("./contributors.csv")

In [3]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 6 columns):
repo             183 non-null object
name             183 non-null object
company          93 non-null object
location         118 non-null object
avatar_url       183 non-null object
contributions    183 non-null int64
dtypes: int64(1), object(5)
memory usage: 8.6+ KB

In [4]:
table = table.replace(np.nan, "")

In [5]:
table.name = table.name.map(str.strip).str.lower()
table.company = table.company.map(str.strip)
table.location = table.location.map(str.strip)
table.avatar_url = table.avatar_url.map(str.strip)

In [6]:
table.head(25)

,repo,name,company,location,avatar_url,contributions
0,django-calaccess-raw-data,palewire,Los Angeles Times,Los Angeles,https://avatars.githubusercontent.com/u/9993?v=3,1053
1,django-calaccess-raw-data,gordonje,,"Columbia, MO",https://avatars.githubusercontent.com/u/430454...,728
2,django-calaccess-raw-data,aboutaaron,The Washington Post,"Washington, D.C.",https://avatars.githubusercontent.com/u/856628...,144
3,django-calaccess-raw-data,armendariz,,,https://avatars.githubusercontent.com/u/952608...,50
4,django-calaccess-raw-data,anabranch,Databricks,California,https://avatars.githubusercontent.com/u/164250...,45
5,django-calaccess-raw-data,tocateunvals,,Argentina,https://avatars.githubusercontent.com/u/785444...,25
6,django-calaccess-raw-data,charlex,LA Times,"Los Angeles, CA",https://avatars.githubusercontent.com/u/154274...,23
7,django-calaccess-raw-data,bcipolli,UC San Diego,"San Diego, CA",https://avatars.githubusercontent.com/u/407245...,20
8,django-calaccess-raw-data,mhkeller,"csv soundsytem, Bloomberg Gfx","New York, NY",https://avatars.githubusercontent.com/u/498744...,19
9,django-calaccess-raw-data,myersjustinc,The Associated Press,Chicago,https://avatars.githubusercontent.com/u/764865...,18
10,django-calaccess-raw-data,anthonyjpesce,Los Angeles Times,Los Angeles,https://avatars.githubusercontent.com/u/479290...,11
11,django-calaccess-raw-data,burtherman,,San Francisco,https://avatars.githubusercontent.com/u/133105...,11
12,django-calaccess-raw-data,sourcedouglas,"Sourcefabric, o.p.s.",,https://avatars.githubusercontent.com/u/189336...,9
13,django-calaccess-raw-data,nbedi,,,https://avatars.githubusercontent.com/u/255338...,9
14,django-calaccess-raw-data,danhillreports,,,https://avatars.githubusercontent.com/u/108746...,9
15,django-calaccess-raw-data,amandabee,@buzzfeed-openlab,"San Francisco, CA",https://avatars.githubusercontent.com/u/150791...,7
16,django-calaccess-raw-data,benlk,Investigative News Network,,https://avatars.githubusercontent.com/u/175418...,7
17,django-calaccess-raw-data,yujiap,,,https://avatars.githubusercontent.com/u/712073...,7
18,django-calaccess-raw-data,ryanpitts,Census Reporter,"Spokane, Wash.",https://avatars.githubusercontent.com/u/56477?v=3,6
19,django-calaccess-raw-data,ewr,Southern California Public Radio,"Atlanta, GA",https://avatars.githubusercontent.com/u/204350...,5
20,django-calaccess-raw-data,stevenrich,Washington Post,"Los Angeles, CA",https://avatars.githubusercontent.com/u/175044...,5
21,django-calaccess-raw-data,karkinosw,,,https://avatars.githubusercontent.com/u/140054...,5
22,django-calaccess-raw-data,malon,,,https://avatars.githubusercontent.com/u/702708...,5
23,django-calaccess-raw-data,enactdev,Enact Development,"Washington, DC",https://avatars.githubusercontent.com/u/505562...,4
24,django-calaccess-raw-data,joegermuska,Northwestern University Knight Lab,"Chicago, IL",https://avatars.githubusercontent.com/u/46313?v=3,4

### Contribution rankings

In [7]:
table.groupby("repo", as_index=False).contributions.sum().sort_values("contributions", ascending=False)

                                         repo  contributions
8                   django-calaccess-raw-data           2390
0   california-civic-data-coalition.github.io            806
1           django-calaccess-campaign-browser            731
4          django-calaccess-downloads-website            718
6             django-calaccess-processed-data            274
9    django-calaccess-technical-documentation            229
10                       django-postgres-copy            101
11                 python-calaccess-notebooks             58
2                   django-calaccess-cookbook             30
3                     django-calaccess-docker             29
5           django-calaccess-lobbying-browser             23
7           django-calaccess-project-template              8

In [8]:
table.groupby('name', as_index=False).contributions.sum().sort_values("contributions", ascending=False).head(10)

              name  contributions
114       palewire           2924
50        gordonje           1318
0       aboutaaron            379
124    sahilchinoy            126
13      armendariz             69
7        anabranch             47
11   anthonyjpesce             40
21         caseymm             33
60        jjelosua             29
136   tocateunvals             25

In [9]:
table.groupby('company', as_index=False).contributions.sum().sort_values("contributions", ascending=False).head(10)

                company  contributions
24    Los Angeles Times           2975
0                                 1584
45  The Washington Post            382
47          UC Berkeley            126
11           Databricks             47
50            Vox Media             33
27                  NPR             29
23             LA Times             23
1              ( ˘▽˘)っ♨             21
48         UC San Diego             20

In [10]:
table.groupby('location', as_index=False).contributions.sum().sort_values("contributions", ascending=False).head(10)

            location  contributions
26       Los Angeles           2968
14      Columbia, MO           1318
51  Washington, D.C.            383
0                               200
5       Berkeley, CA            126
32      New York, NY             54
10        California             47
52    Washington, DC             36
27   Los Angeles, CA             34
12           Chicago             26

## Unique contributors

In [11]:
table.groupby("repo", as_index=False).size().reset_index().sort_values(0, ascending=False)

                                         repo    0
8                   django-calaccess-raw-data  132
1           django-calaccess-campaign-browser   18
0   california-civic-data-coalition.github.io    7
4          django-calaccess-downloads-website    7
9    django-calaccess-technical-documentation    5
5           django-calaccess-lobbying-browser    3
6             django-calaccess-processed-data    3
10                       django-postgres-copy    3
11                 python-calaccess-notebooks    2
2                   django-calaccess-cookbook    1
3                     django-calaccess-docker    1
7           django-calaccess-project-template    1

In [17]:
unique_contributors = table.groupby(["name", "company", "location", "avatar_url"]).contributions.sum().reset_index()

In [19]:
unique_contributors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 5 columns):
name             144 non-null object
company          144 non-null object
location         144 non-null object
avatar_url       144 non-null object
contributions    144 non-null int64
dtypes: int64(1), object(4)
memory usage: 5.7+ KB

In [20]:
unique_contributors.sort_values("name").head(25)

,name,company,location,avatar_url,contributions
0,aboutaaron,The Washington Post,"Washington, D.C.",https://avatars.githubusercontent.com/u/856628...,379
1,absolutevan,,,https://avatars.githubusercontent.com/u/165300...,1
2,achavez,@DallasMorningNews,"Dallas, TX",https://avatars.githubusercontent.com/u/682828...,1
3,acoreynews,,"Las Vegas, NV",https://avatars.githubusercontent.com/u/562616...,1
4,amandabee,@buzzfeed-openlab,"San Francisco, CA",https://avatars.githubusercontent.com/u/150791...,7
5,amzam,,,https://avatars.githubusercontent.com/u/579612...,2
6,anabecker,,,https://avatars.githubusercontent.com/u/265281...,1
7,anabranch,Databricks,California,https://avatars.githubusercontent.com/u/164250...,47
8,anniedaniel,,"Austin, TX",https://avatars.githubusercontent.com/u/512549...,1
9,annkiha,,,https://avatars.githubusercontent.com/u/113393...,1
10,anthonydb,,United States,https://avatars.githubusercontent.com/u/273891...,1
11,anthonyjpesce,Los Angeles Times,Los Angeles,https://avatars.githubusercontent.com/u/479290...,40
12,aquintero4354,,,https://avatars.githubusercontent.com/u/177308...,1
13,armendariz,,,https://avatars.githubusercontent.com/u/952608...,69
14,ashwu,,"Evanston, IL",https://avatars.githubusercontent.com/u/721038...,1
15,bcipolli,UC San Diego,"San Diego, CA",https://avatars.githubusercontent.com/u/407245...,20
16,bdin,,,https://avatars.githubusercontent.com/u/944032...,2
17,benlk,Investigative News Network,,https://avatars.githubusercontent.com/u/175418...,7
18,brianmcgill,The Wall Street Journal,District of Columbia,https://avatars.githubusercontent.com/u/858281...,1
19,burtherman,,San Francisco,https://avatars.githubusercontent.com/u/133105...,11
20,carloslemos,Globoesporte.com,"São Paulo, Brazil",https://avatars.githubusercontent.com/u/158696...,2
21,caseymm,Vox Media,"New York, NY",https://avatars.githubusercontent.com/u/352698...,33
22,caseypt,Azavea,"Philadelphia, PA",https://avatars.githubusercontent.com/u/104247...,3
23,cecht,,,https://avatars.githubusercontent.com/u/112753...,1
24,cephillips,Stanford University,Palo Alto,https://avatars.githubusercontent.com/u/547438...,10

In [21]:
unique_contributors.to_csv("./unique-contributors.csv")