# Merge San Diego 2016 students

By Ben Welsh

Add the list of students from the 2016 IRE Watchdog Workshop training in San Diego to the participants list.

In [20]:
import pandas as pd

In [21]:
students = pd.read_csv("./input/san-diego-2016-students.csv")

In [33]:
students['in_coalition'] = False
students['contributions'] = 0
students['at_san_diego_2016_training'] = True

In [34]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 11 columns):
name                          14 non-null object
location                      14 non-null object
company                       14 non-null object
email                         14 non-null object
state                         13 non-null object
country                       14 non-null object
in_california                 14 non-null bool
in_usa                        14 non-null bool
in_coalition                  14 non-null bool
contributions                 14 non-null int64
at_san_diego_2016_training    14 non-null bool
dtypes: bool(4), int64(1), object(6)
memory usage: 912.0+ bytes

In [35]:
participants = pd.read_csv("./output/participants.csv")

In [36]:
participants['at_san_diego_2016_training'] = False

In [37]:
participants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 16 columns):
login                         144 non-null object
name                          131 non-null object
email                         114 non-null object
company                       129 non-null object
in_coalition                  144 non-null bool
location                      130 non-null object
state                         114 non-null object
country                       130 non-null object
location_x                    130 non-null float64
location_y                    130 non-null float64
in_california                 144 non-null bool
in_usa                        129 non-null object
contributions                 144 non-null int64
bio                           15 non-null object
avatar_url                    144 non-null object
at_san_diego_2016_training    144 non-null bool
dtypes: bool(3), float64(2), int64(1), object(10)
memory usage: 15.1+ KB

In [39]:
merged = pd.concat([participants, students])

In [41]:
merged.tail(5)

,at_san_diego_2016_training,avatar_url,bio,company,contributions,country,email,in_california,in_coalition,in_usa,location,location_x,location_y,login,name,state
9,True,NaN,NaN,San Diego State University,0,United States of America,caityleary@hotmail.com,True,False,True,"San Diego, CA",NaN,NaN,NaN,Caitlynne Leary,CA
10,True,NaN,NaN,inewsource,0,United States of America,yeyelobet@gmail.com,True,False,True,"San Diego, CA",NaN,NaN,NaN,Ingrid Lobet,CA
11,True,NaN,NaN,San Diego State University,0,United States of America,aschmitz@mail.sdsu.edu,True,False,True,"San Diego, CA",NaN,NaN,NaN,Amy Schmitz Weiss,CA
12,True,NaN,NaN,San Diego State University,0,United States of America,jacob.sisneros@yahoo.com,True,False,True,"San Diego, CA",NaN,NaN,NaN,Jacob Sisneros,CA
13,True,NaN,NaN,Freelancer,0,United States of America,noyster@gmail.com,True,False,True,"Los Angeles, CA",NaN,NaN,NaN,Noy Thrupkaew,CA

In [42]:
merged.to_csv("./output/participants.csv", index=False)